{% extends "layouts/default.html.twig" %}
{% block title %}Actualités{% endblock %}

{% block body %}
    <h1 class="text-center display-1 mt-4 mb-5">Liste des articles</h1>
    <div class="container d-md-flex d-lg-flex justify-content-between mt-4">
        {% for post in posts %}
            <div class="card col-xs-12 col-sm-12 col-md-3 col-lg-3 mb-4">
                <img class="card-img-top" src="../../../{{ post.thumbnail }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ post.title }}</h5>
                    <p class="card-text text-center">{{ post.header|slice(0, 30) }}...</p>
                    <p class="card-text text-center"> créé le {{ post.creation_date|date('d/m/Y') }}</p>
                    <div class="text-center">
                        <a href="/news/post/{{ post.slug }}" class="btn btn-primary my-0">Lire l'article</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
    <nav aria-label="Page navigation example" class="mt-4 mb-5">
        <ul class="pagination justify-content-center">
            {% if currentPage > 1 %}
            <li class="page-item"><a class="page-link" href="/news/{{ currentPage - 1 }}">Page précedente</a></li>
            {% endif %}
            {% for i in 1.. totalPages %}
                {% set isActive = i == currentPage ? "active" : ""%}
                <li class="page-item {{ isActive }}"><a class="page-link" href="/news/{{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% if currentPage < totalPages %}
                    <li class="page-item"><a class="page-link" href="/news/{{ currentPage + 1}}">Page suivante</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}