{% extends "layouts/default.html.twig" %}
{% block title %} {{ post.title }} {% endblock %}

{% block body %}
    <img class="col-12 image-thumbnail text-center" src="../../../{{ post.thumbnail }}" />
    
    <div class="container mt-4">
        <h1 class="text-center display-1">{{ post.title }}</h1>
        <h2 class="text-center">{{ post.header }}</h2>
        <p class="text-center lead">créé par {{ post.author }} le {{ post.creationDate|date('d/m/Y', 'Europe/Paris') }} à {{ post.creationDate|date('H:i', 'Europe/Paris') }} </p>
        {% if post.modificationDate %}
        <p class="text-center lead">modifié le {{ post.modificationDate|date('d/m/Y', 'Europe/Paris') }} à {{ post.modificationDate|date('H:i', 'Europe/Paris') }} </p>    
        {% endif %}
        
        <p class="text-center mt-5">{{ post.content|raw }}</p>
    </div>
    <div class="container border-top mt-5">
        <h2 class="text-center mt-4">Commentaires</h2>
    </div>
    {% set user = session('user') %}
    {% if user %}
        <div class="container mt-4">
            <form method="POST" action="/news/post/{{post.slug}}/ajout-commentaire" enctype="multipart/form-data">
                <div class="form-group py-2">
                    <label for="content" class="mb-1"><b>{{ user.pseudo }}</b>  (vous)</label>
                    <input name="content" type="textarea" class="form-control" id="content" placeholder="Votre commentaire...">
                    <input name="csrf" type="hidden" value="{{ user.token }}">
                </div>
                    <button type="submit" value="submit" name="submit" class="btn btn-primary mt-2" style="float:right">Envoyer</button>
                
            </form>
        </div>
    {% else %}
        <div class="container mt-4">
            <p>Pour ajouter un commentaire, <a href="/login">connectez-vous</a> sinon <a href="/login">inscrivez-vous</a></p> 
        </div>                        
    {% endif %}
    
    <div class="container mt-4 mb-4">
        <h2>Liste des commentaires</h2>
        {% if flash('success') %}
              <div class="alert alert-success" role="alert">
                {{ flash('success') }}
              </div>
            {% endif %}
        {% if comments is not empty %}
            {% for comment in comments %}
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.pseudo }}</h5>
                    {{ comment.commentContent}}
                </div>
            </div>
            {% endfor %}
        {% else %}
          <p>Aucun commentaire pour le moment, ajoutez-en un !</p>    
        {% endif %}
        
    </div>
{% endblock %}