{% extends "layouts/admin-default.html.twig" %}
{% block title %}Administration{% endblock %}

{% block body %}
          <div class="align-items-center col-12 pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Liste des articles</h1>
            {% if flash('success') %}
              <div class="alert alert-success" role="alert">
                {{ flash('success') }}
              </div>
            {% endif %}
            <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Titre</th>
                  <th scope="col">Date de création</th>
                  <th scope="col">Date de modification</th>
                  <th scope="col">Auteur</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% if posts is not empty %}
                  
                  {% for post in posts %}
                  
                  <div class="modal fade" id="modalForDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Suppression de l'article</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Cette action est définitive, êtes-vous sûr de vouloir supprimer cette article ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                          <form method="POST" action="/admin/articles/delete/{{ post.slug }}" enctype="multipart/form-data">
                              {% set user = session('user') %}
                              {% if user %}
                                <button type="submit" value="submit" name="submit" class="btn btn-danger">Supprimer</button>
                                <input name="csrf" type="hidden" value="{{ user.token }}">
                              {% endif %}
                          </form>
                        </div>
                      </div>
                  </div>
                
                    <tr>
                      <td>{{ post.title }}</td>
                      <td>{{ post.creationDate|date('d/m/Y H:i', 'Europe/Paris') }}</td>
                      <td>{{ post.modificationDate is null ? '' : post.modificationDate|date('d/m/Y H:i', 'Europe/Paris') }}</td>
                      <td>{{ post.author }}</td>
                      <td>
                        <a href="/admin/articles/edit/{{ post.slug }}" class="btn btn-warning">Editer</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalForDelete">Supprimer</button>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <p> Aucuns articles pour le moment </p>
                {% endif %}
              </tbody>
            </table>
            </div>
          </div>
          <nav aria-label="Page navigation example" class="mt-4 mb-5">
            <ul class="pagination justify-content-center">
                {% if currentPage > 1 %}
                <li class="page-item"><a class="page-link" href="/admin/articles/{{ currentPage - 1 }}">Page précedente</a></li>
                {% endif %}
                {% for i in 1.. totalPages %}
                    {% set isActive = i == currentPage ? "active" : ""%}
                    <li class="page-item {{ isActive }}"><a class="page-link" href="/admin/articles/{{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if currentPage < totalPages %}
                        <li class="page-item"><a class="page-link" href="/admin/articles/{{ currentPage + 1}}">Page suivante</a></li>
                {% endif %}
            </ul>
        </nav>
{% endblock %}